<h1> Muying Chen </h1>

<%= image_tag("me.jpg") %>

<h1 class='from'> Oakland, CA</h1>
<h1 class='year'> Junior </h1>
<h1 class='funfact'> I play some guitar </h1>
<h1 class='decal'> I am excited to build not so ugly websites! </h1>
